html{
    padding: 0%;
    margin: 0%;
    width: 100vw;
    overflow:visible;
    background-image: url(back1redux.jpg);
    box-sizing: border-box;
    background-size: 100vw;
    background-repeat:no-repeat;
    overflow-x: hidden ;
    
}
*,
*:before,
*::after{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.fondo{
    position: relative;
    z-index: index inherit;
    height: 100%;
    padding: 0%;
    margin: 0% !important;
}
@font-face {
    font-family:'Ver';
    src: url(verdana.ttf);
}
@font-face{
    font-family:'Sab';
    src: url(TheSaBkCp.ttf);
}
#logo{
    margin-top:10px;
    display: block;
    width:300px;
    height: auto;
    ;
}
.Grancontenedor{
    width: 80%;
    max-width: 1000px;
    margin:auto;
    height:auto;

}

#gris{
    border-radius: 20px;
    background: rgba(204, 204, 204, 0.8);
    max-width: 80%;
    box-sizing: content-box;
    margin:auto;
    display: grid;
    grid-template: auto auto auto auto / 30% 30%;
    justify-content: center;
    grid-column-gap:5% ;
    height:auto;
    min-height: 240px;
    max-height: 300px;
    row-gap: 10px;
    padding-bottom: 15px;
}
a{
    text-decoration: none;
    color:black;
}
#ver{
    color:black;
    text-shadow: 5px;
    font-family:'Ver';
    font-size: 0.7rem;
}
/*#gris img{
    overflow: hidden;
    transform:scale(0.4)translate(-360px,-80px);
    width:auto;



<img src="/TPO/css/navgrand.png" alt="">




}*/
#gris img{
    display: block;
    width: 100%;
    min-width: 50%;
}
.grid-iden,.grid-sub,.grid-car,.grid-grab,.grid-tarP,.grid-graf{
    overflow: hidden;
    position:relative;

}
#sab{
    min-height:60px ;
}
.grid-cont{
    font-family:'Sab';
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    width: auto;
    height: 40px;
    max-height: 20%;

}
/*#padC{
    display: flex;
    flex-direction:column;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
}*//* esto es por que cambie el grid container a directamente el pader..*/
/*#grid-container{
    box-sizing: content-box;
    display: grid;
    padding: 0% 0% 8px;
    width: 80%;
    height: 6fr;
    grid-template: auto auto auto auto / 1fr 1fr;
    grid-template-areas:"cont cont"
                        "iden subli"
                        "car grab"
                        "traP graf";
                        
                        meter un sticki en la linea blanca de la pagina para ganr espacio
                        
                        
                        */

                        

/* esta shid es lo mismo que el de abajo pero con el grid container*/
/*#grid-container #ver{
    max-width: 40%;
    max-height: 20px;
    text-align: right;*/
div #ver{
    max-width: 100%;
    text-align: right;
    font-size: 14px;
}
.espacio{
    display:block;
    height: 20px;
}
.fotos{
    text-align: center;
    margin: auto;
    box-sizing:content-box;
    max-width: 80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    overflow: hidden;
    flex-wrap:wrap;
    gap: 10px;
    
}
.overlay{
text-align: center;
}
.bg {
    max-width:100%;
    position: relative;
}
.bg h2{

    font-size:1.5em;
    line-height:100%;
}
.bg p{
    margin-top: 10px;
}



/*.fot-iden .blur,.fot-sub .blur,.fot-car .blur,.fot-grab .blur,.fot-tarP .blur,.fot-graf .blur{
}*/
.bg img, .overlay{
    transition: .3s all;
    border-radius: 3px;
}
.fotos img{
    width:100%;
    height:auto;
}
.bg .overlay{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;

}
.overlay p{
        font-family:'ver';

}
.overlay h2{
    margin: auto;
    padding-top: 30%;
    width:80%;
    font-family:'sab';
}
.bg:hover .overlay{
        opacity: 1;
}

.bg:hover img{
        -webkit-filter:blur(2px) ;
        filter:blur(2px) ;

}
/*.formulario{}*/

.nosotros{
    margin: 20px 0;
}
#nos{
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 15px;
    padding:5px;
}
#nos h2{
    font-family: 'Sab';
    font-size: 2em;
    text-align: center;
}
hr{
    margin:auto;
   background-color: rgb(251,181,43);
   width: 60%;
   height: 4px;
   text-align: center;
   border-radius: 1px;
   border-style: none;
}
#nos p{
    padding: 15px;
    font-family: 'Ver';
    font-size: 1em;
    text-indent: 5px;
}
#formulario{
    margin: 15px;
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 15px;
    min-height:350px;
    max-height: 600px;
    box-sizing: border-box;
    display:flex;





}
#cont-form{
    overflow: hidden;
    padding:5px;
    display: grid;
    width:80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-content:center;
    align-items:stretch;
    justify-items:center;
    align-content: stretch;
    row-gap: 10px;
    box-sizing: content-box;
    column-gap:15%;
}
#Consul{
    display: block;
 width: 100%;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
margin:0;
}
#nomb{
    display: block;
width: 100%;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
margin:0;
}   
#email{
    display: block;
width: 100%;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 3;
margin:0;
}  
#mens{
    display: block;

width: 100%;

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 5;
margin:0;
}
   
#btn-env{
    width:90%;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 4;
display: flex;
justify-content: center;
}
.controles{
    display: inline-block;
    height: 60%;
    margin: 0;
    border-radius: 6px;
    border-style: none;
    width:100%;
    margin: auto;

}
#taberga{
    display: block;
    max-width: 100%;
    min-height: 80%;
    resize: none;
    font-family: 'Ver';
}
.boton-env{
    border-radius: 2px;
    height:60%;
    width: 50%;
    border-radius: 6px;
    border-color: none;
    border-style: none;
    text-align: center; 
}

#cont-form p{
    padding: 5px;
    font-family: 'Ver';
    font-size: 1em;
    text-indent: 5px;

}
#cont-form h2{
    font-family: 'Sab';
    font-size: 2em;
    text-align: center;
}



footer{
    background-image:url(footer.png) ;
    height: 500px;
    width:100%;
    display: grid;
    justify-content:space-around;
    grid-template: auto auto / auto auto auto;
    align-items: center;
    text-align: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}
#maps{
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 2;
}
#contac{

    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1 ;
}
#contac h2{
    font-family: 'Sab';
    font-size: 2.5em;
    

}
#contac p{
    font-size: 1em;
    font-family: 'Ver';
}
#inst img{
    display: inline-block;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 25%;
    height: auto;
}
#fac img{
    display: inline-block;
    grid-column-start: 1;
    grid-row-start: 3;
    width: 25%;
    height: auto;
}
#what img{
    display: inline-block;
    grid-column-start: 3;
    grid-row-start: 3;
    width: 25%;
    height: auto;
}


@media screen and (max-width:1199px){}


@media screen and (max-width:700px) {


    #gris{
        display: grid;
        width: 80%;
        min-height: 230px;
        max-height: 800px;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 5;
    }
/*#gris{
    display:grid;
    width: 80vw;
    height: auto;
    grid-template:auto auto auto auto auto auto auto / 65%;
    justify-content:stretch;
    grid-column-gap:5%;
    max-height:auto;
    height: 60vh;
    }*/
.grid-cont{
    font-family:'Sab';
    font-size: 2em;
    text-align: center;
    width: auto;
    height: 40px;
    max-height: 20%;
    z-index: 5;
}}